
.super-button {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
    border: 1px solid transparent;
}

.click-this {
  color: #fff;
  background-color: #00FF00;
  border-color: #00FF00;
  margin-bottom: 5px;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.333333;
  border-radius: .3rem;
  border: 1px solid transparent;
}
